@import "utilities";

.article-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;

    &__header {
        font-size: 5rem;
        text-transform: capitalize;
        width: 50%;
        text-align: center;

        @include responsive(phone) {
            width: 80%;
        }

        &::before {
            content: "";
            width: 20rem;
            height: 20rem;
            display: block;
            position: absolute;
            right: 20rem;
            bottom: -40rem;
            background: linear-gradient(90deg, #575a8977, #cc74aa7a);
            border-radius: 100%;
            z-index: -1;
            
            @include responsive(tab-port) {
                display: none;
            }
        }
        
        &::after {
            content: "";
            width: 10rem;
            height: 10rem;
            display: block;
            position: absolute;
            left:10%;
            top: 22rem;
            background: linear-gradient(-90deg, #575a8975, #cc74aa77);
            border-radius: 100%;
            z-index: -1;        

            @include responsive(tab-port) {
                display: none;
            }
        }
    }

    &__image {
        margin-top: 4rem;
        margin-bottom: 3rem;
        position: relative;
        
        @include responsive(phone){
            width: 100%;
            height: auto;
        }
    }

    p {
        width: 60%;
        margin-top: 1rem;
        text-align: justify;
        line-height: 2.5rem;
        text-indent: 5rem;
        font-size: $normalText; 
        
        @include responsive(phone) {
            width: 90%;
        }
    }
}
