@import "utilities";

.content-container {
    display: flex;
    justify-content: space-between;

    @include responsive(phone) {
        flex-direction: column-reverse;
    }

    .blog-main {
        width: 85%;
        display: flex;
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: center;
        min-height: 84vH;

        @include responsive(phone) {
            width: 100%;
        }

        &__header {
            font-size: 6rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            background: $purple;
            padding: 0.2em 0.4em;
            color: white;
            border-radius: 10px;
            text-align: center;
        
        }

        .our-blog {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;

            &__header {
                font-size: 3rem;
                text-transform: capitalize; 
                text-align: center;           
            }

            &__article {
                padding: 2em 2em;
                width: 80%;
                margin-top: 3rem;
                display: flex;
                align-items: center;

                @include responsive(tab-port) {
                    flex-direction: column;
                    width: 80%;
                }

                @include responsive(phone) {
                    width: 100%;
                }
                
                &__image {
                    width: 40%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 5px;
                    margin-top: 0.8rem;

                    @include responsive(tab-port) {
                        width: 60%;
                        height: 20rem;
                    }
                }

                &__preview-content {
                    margin-left: 2rem;
                    width: 60%;
                    
                    &__header {
                        font-size: 3.5rem;
                        letter-spacing: 0.15rem;
                        text-transform: capitalize;

                        @include responsive(tab-port){
                            text-align: center;
                            margin-top: 2rem;
                        }
                        
                        a {
                            color: $purple;
                        }
                    }

                    &__text {
                        margin-top: 0.5rem;
                        font-size: $normalText;
                        line-height: 2.2rem;

                        @include responsive(tab-port){
                            text-align: justify;
                            margin-top: 20px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        
    }
    
}

.categories {
    width: 200px;
    min-width: 150px;
    background: #EEEDFF;
    padding-top: 40px;
    padding-left: 20px;

    @include responsive(phone) {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        justify-content: space-between;

    }

    &__header {
        text-transform: uppercase;
        font-size: 1.8rem;
        background: white;
        padding-top: 0.5em;
        padding-left: 0.5em;
        background: #8B8CBF;
        color: white; 
        
        @include responsive(phone) {
            color: black;
            background: none;
            font-size: 1.5rem;
            padding: 0;
        }
    }

    &__list {
        border-left: 3px solid #8B8CBF;
        padding-left: 10px;
        margin-top: 20px;

        @include responsive(phone) {
            display: flex;
            align-items: center;
            border: none;
            margin: 0;
            justify-content: space-between;
            width: 60%;
            min-width: 25rem;
        }
        
        &__item {
            font-size: 2.4rem;

            &:hover {
                background: #8B8CBF;
                color: white;
                padding-left: 1rem;

                @include responsive(phone) {
                    background: none;
                    padding-left: 0;
                    transform: scale(1.1);
                }
                
                a {
                    color: white;

                    @include responsive(phone) {
                        color: #222;
                    }
                }
            }
        }
    }
}
