.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    background: #222;

    *{
        color: white;
    }

    &__copyright {
        font-size: 1.5rem;
    }

    &__nav {
        &__list {
            display: flex;
            width: 10rem;
            align-items: center;
            justify-content: space-between;
            
            .nav-item {
                &__link {

                    &__icon {
                       font-size: 1.7rem;

                        &:hover {
                            color: #CC74AB;
                            transition: 0.3s ease;                       
                        }
                    }
                }
            }
        }
    }
}
