@use "utilities";
@use "mediaQueries";

$animationDuration: 9s;

.roger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    width: 100%;

    &__svg {
        width: 20rem;
        height: 20rem;
        display: block;
        margin-left: 2rem;

        #background {
            fill: utilities.$purple;
        }
    
        #head {
            animation: head-movement $animationDuration linear infinite;
            transform-origin: bottom;
            transform-box: fill-box;
        }
    
        #hair {
            animation: hair-tilt $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #left-eye {
            animation: left-eye-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #left-pupil {
            animation: left-pupil-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
    
        }
    
        #right-eye {
            animation: right-eye-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #right-pupil {
            animation: right-pupil-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #left-ear {
            animation: left-ear-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
        #right-ear {
            animation: right-ear-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #muzzle {
            animation: muzzle-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #nose {
            animation: nose-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
    
        #tongue {
            animation: tongue-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #right-paw {
            animation: right-paw-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #right-paw-shadow {
            animation: right-paw-shadow-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box;
        }
    
        #right-nail-1, #right-nail-2 {
            animation: right-nails-movement $animationDuration linear infinite;
            transform-origin: center;
            transform-box: fill-box; 
        }    
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2em;

        &__header {
            font-size: 3rem;
            color: utilities.$purple;
        }

        &__paragraph {
            font-size: 2rem;
            margin-top: 0.5em;
        }
    }
}

.hero {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include mediaQueries.responsive(tab-port){
        flex-direction: column;
        align-items: center;
    }

    &__article {
        padding: 0 2em 3em 2em;
        width: 40%;

        @include mediaQueries.responsive(tab-port){
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include mediaQueries.responsive(phone) {
            width: 80%;
        }

        &__header {
            font-size: 6rem;
            text-transform: capitalize;  
            
            @include mediaQueries.responsive(tab-port){
                text-align: center;
            }
        }

        &__text {
            margin-top: 1rem;
            font-size: 1.8rem;
            line-height: 3rem;  
            
            @include mediaQueries.responsive(tab-port){
                text-align: justify;
                margin: 2rem;
            }
            
        }

        &__btn {
            margin-top: 1.7rem;
            font-size: 2.3rem;  
            
            @include mediaQueries.responsive(tab-port){
            
            }    
        }
    }

    &__image {
        width: 40%;
        position: relative;
        top: 9rem; 
        
        @include mediaQueries.responsive(tab-port){
         margin-top: 2rem; 
         position: initial;
         width: 80%;  
        }
    }    
}

.read-more{
    margin-top: 8rem;
    padding: 6em 0;
    background: linear-gradient(-135deg, utilities.$purple, utilities.$pink);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        text-transform: uppercase;
        font-size: utilities.$sectionTitleSize;
        text-align: center;
        color: white;    
    }

    &__articles-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-top: 4rem;
        max-width: 150rem;

        @include mediaQueries.responsive(tab-port){
            flex-direction: column;
            align-items: center;
        }

    
        &__article {
            background: white;
            width: 31%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3em 2em;
            min-height: 50rem;
            border-radius: 20px;
            box-shadow: 0 0 1rem 0.5rem #575A89;
            margin: 1.5rem;

            @include mediaQueries.responsive(tab-port){
                width: 80%;
                flex-direction: row;
                min-height: auto;
            }

            @include mediaQueries.responsive(phone) {
                flex-direction: column;
            }

            &__image {
                width: 85%;
                border-radius: 5px; 
                
                @include mediaQueries.responsive(tab-port) {
                    width: 50%;
                    flex-shrink: 2; 
                    object-fit: cover;
                    object-position: center;      
                }

                @include mediaQueries.responsive(phone) {
                    width: 85%;
                }
            }

            .article-preview {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &__header {
                    margin-top: 2rem;
                    font-size: utilities.$smallHeader;
                    text-transform: capitalize;
                    text-align: center;
                    letter-spacing: 0.2rem;
                    min-height: 12rem;
                    display: flex;
                    align-items: center;

                    @include mediaQueries.responsive(tab-port) {
                        min-height: auto;
                    }
                }
    
                &__text {
                    margin-top: 20px;
                    overflow: hidden;
                    text-align: justify;
                    font-size: utilities.$normalText;       
                    padding-left: 1em;
                    padding-right: 1em;
                    line-height: 2rem;
                }
    
                &__btn {
                    margin-top: 3rem;
                    font-size: 2rem;            
                }    
            }
        }
    }
}

.our-team {
    width: 100%;
    padding: 6em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        text-transform: uppercase;
        font-size: utilities.$sectionTitleSize;
        text-align: center;    
    }

    .employees-container {
        display: flex;
        margin-top: 8rem;
        max-width: 120rem;
        justify-content: space-between;

        @include mediaQueries.responsive(tab-port){
            flex-direction: column;
            align-items: center;
        }
    
        &__employee{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 32%;
            border: 3px solid #575A89;
            padding: 0 2em 3em 2em;
            border-radius: 20px;

            @include mediaQueries.responsive(tab-port) {
                flex-direction: row;
                width: 80%;
                margin: 1.5rem;
                padding: 2em;
            }

            @include mediaQueries.responsive(phone){
                flex-direction: column;
                width: 100%;
                margin-top: 6rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        
            &__image {
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                object-position: center;
                border-radius: 100%;
                position: relative;
                bottom: 5rem;
                border: 5px solid rgb(175, 175, 175);

                @include mediaQueries.responsive(tab-port) {
                    bottom: 0;
                    right: 10rem;
                    width: 30rem;
                    height: 30rem;
                }

                @include mediaQueries.responsive(phone) {
                    bottom: 5rem;
                    right: 0;
                }
            }

            &__text-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                @include mediaQueries.responsive(tab-port) {
                    max-height: 90%;
                    margin: 2rem 0;
                    position: relative;
                    right: 5rem;
                }

                @include mediaQueries.responsive(phone) {
                    position: initial;
                    margin: 0;
                }

                &__name {
                    font-size: utilities.$smallHeader;
                    margin-top: -3rem;
                    text-align: center;
                    letter-spacing: 0.2rem;

                    @include mediaQueries.responsive(tab-port) {
                        margin-top: 0;
                    }

                    @include mediaQueries.responsive(phone) {
                        margin-top: -3rem;
                    }
                }
    
                &__position {
                    font-size: 2.5rem;
                    text-align: center;
                    letter-spacing: 0.15rem;
                }
    
                &__description {
                    margin-top: 2rem;
                    width: 70%;
                    text-align: center;
                    line-height: 2.5rem;
                    font-size: utilities.$normalText;

                    @include mediaQueries.responsive(tab-port) {
                        width: 100%;
                    }
                }
    
                &__btn {
                    margin-top: 3rem;
                    font-size: 2rem;
                }    
            }
        }
    }
}


.newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(-135deg, #575A89, #CC74AB);

    &__container {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em;
        border-radius: 20px;

        @include mediaQueries.responsive(phone) {
            margin: 2rem;
        }
        
        &__header {
            font-size: 5rem;
            text-transform: uppercase;
            text-align: center;        
        }

        &__cta {
            font-size: 3rem;
            text-transform: capitalize;
            margin-top: 1rem;
            text-align: center;        
        }

        &__form {
            width: 90%;
            display: flex;
            flex-direction: column;
            
            label {
                text-transform: capitalize;
                margin-top: 2rem;
                font-size: utilities.$normalText;
                margin-bottom: 0.5rem;
                line-height: 2.3rem;            
            }

            input {
                font-size: utilities.$normalText;
                padding-left: 1em;
                
                &[type="text"],
                &[type="email"] {
                    height: 3rem;
                }

                &[type="checkbox"] {
                    transform: scale(1.2);
                    margin-right: 0.8rem;                
                }

                &[type="submit"] { 
                    margin-top: 3rem;
                    font-size: 1.8rem;
                    width: 80%;
                    align-self: center;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;                
                }
            }

            select {
                height: 3rem;
                font-size: utilities.$normalText;
                padding-left: 0.5em;            
            }

            .checkbox {
                margin-top: 3rem;
            }
        }
    }
}

.live-chat {
    width: 9rem;
    height: 9rem;
    position: fixed;
    bottom: 7rem;
    right: 3rem;
    background: white;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid utilities.$purple;
    animation: pulse 4s infinite;
    transition: transform 0.2s linear;

    #front-bubble, #back-bubble {
        transition: fill 0.2s linear;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-0.4rem);

        #front-bubble {
            fill: utilities.$pink;
        }

        #back-bubble {
            fill: utilities.$purple;
        }
    }

    &__icon {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@mixin box-shadow($blur, $spread) {
    box-shadow: 0 0 $blur $spread utilities.$purple;
}

@keyframes pulse {
    10% {
        @include box-shadow(1rem, 0.1rem);
    }

    12% {
        @include box-shadow(0.7rem, 0.3rem);
    }
    15% {
        @include box-shadow(1rem, 0.1rem);
    }

    17% {
        @include box-shadow(0.7rem, 0.3rem);
    }
}

//ANIMATIONS

$firstTilt: -15deg;


@mixin rotateAndMove($rotationDegrees, $xDistance, $yDistance) {
    transform: rotate($rotationDegrees) translate($xDistance, $yDistance);
}

@keyframes head-movement {
    6% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    14% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes hair-tilt {
    6% {
        @include rotateAndMove(-30deg, -12rem, -3rem);
    }

    14% {
        @include rotateAndMove(-30deg, -12rem, -3rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes left-ear-movement {
    6% {
        @include rotateAndMove(-20deg, -6rem, 10rem);
    }

    14% {
        @include rotateAndMove(-20deg, -6rem, 10rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes right-ear-movement {
    6% {
        @include rotateAndMove(-22deg, -4rem, -6rem);
    }

    14% {
        @include rotateAndMove(-22deg, -4rem, -6rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes left-eye-movement {
    6% {
        @include rotateAndMove(0, -2rem, 2.3rem)
    }

    14% {
        @include rotateAndMove(0, -2rem, 2.3rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes left-pupil-movement {
    6% {
        @include rotateAndMove(0, -2rem, 2.3rem)
    }

    14% {
        @include rotateAndMove(0, -2rem, 2.3rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }

    21% {
        @include rotateAndMove(0, -0.7rem, 0);
    }

    30% {
        @include rotateAndMove(0, -0.7rem, 0);
    }

    31% {
        @include rotateAndMove(0, 0, 0);
    }

    70% {
        @include rotateAndMove(0, 0, 0); 
    }

    71% {
        @include rotateAndMove(0, -0.6rem, 0.5rem);
    }

    80% {
        @include rotateAndMove(0, -0.6rem, 0.5rem);
    }

    81% {
        @include rotateAndMove(0, 0, 0); 
    }

}

// WINK

@keyframes right-eye-movement {
    6% {
        @include rotateAndMove(0, -2rem, -1.5rem)
    }

    14% {
        @include rotateAndMove(0, -2rem, -1.5rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }

    50% {
        @include rotateAndMove(0, 0, 0);   
    }

    52% {
        @include rotateAndMove(0, 0rem, 1rem);
    }

    54% {
        @include rotateAndMove(0, 0, 0);   
    }
}

@keyframes right-pupil-movement {
    6% {
        @include rotateAndMove(0, -2rem, -1.5rem)
    }

    14% {
        @include rotateAndMove(0, -2rem, -1.5rem);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }

    21% {
        @include rotateAndMove(0, -0.7rem, 0);
    }

    30% {
        @include rotateAndMove(0, -0.7rem, 0);
    }

    31% {
        @include rotateAndMove(0, 0, 0);
    }

    50% {
        opacity: 1;
        @include rotateAndMove(0, 0, 0);   
    }

    51% {
        opacity: 0;
    }

    52% {
        @include rotateAndMove(0, 0rem, 1rem);
    }

    54% {
        opacity: 1;
        @include rotateAndMove(0, 0, 0);   
    }

    70% {
        @include rotateAndMove(0, 0, 0); 
    }

    71% {
        @include rotateAndMove(0, -0.6rem, 0.5rem);
    }

    80% {
        @include rotateAndMove(0, -0.6rem, 0.5rem);
    }

    81% {
        @include rotateAndMove(0, 0, 0); 
    }
}

// END WINK


@keyframes muzzle-movement {
    6% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    14% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}


@keyframes nose-movement {
    6% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    14% {
        @include rotateAndMove($firstTilt, 0, 0);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    } 
}

@keyframes tongue-movement {
    6% {
       @include rotateAndMove($firstTilt, 1rem, 0);
    }

    14% {
        @include rotateAndMove($firstTilt, 1rem, 0);
    }

    20% {
        @include rotateAndMove(0, 0, 0);
    }
}

// PAW MOVEMENT

@keyframes right-paw-movement {
    15% {
        @include rotateAndMove(0, 0, 0);
    }
    
    18% {
        transform: rotateX(50deg);
    }

    21% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes right-paw-shadow-movement {
    15% {
        @include rotateAndMove(0, 0, 0);
    }
    
    18% {
        transform: rotateX(60deg);
    }

    21% {
        @include rotateAndMove(0, 0, 0);
    }
}

@keyframes right-nails-movement {
    15% {
        @include rotateAndMove(0, 0, 0);
    }
    
    18% {
        transform: translateY(-3.6rem);
    }

    21% {
        @include rotateAndMove(0, 0, 0);
    }
}
