@use "mediaQueries";

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap');


$sectionTitleSize : 7rem;
$smallHeader : 3rem;
$normalText : 1.6rem;
$purple: #575A89;
$pink: #CC74AB;

$main-font: "Alumni Sans";

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;

    @include mediaQueries.responsive(tab-port) {
        font-size: 56.25%;
    }

    @include mediaQueries.responsive(phone) {
        font-size: 50%;
    }
}

body {
    width: 100%;
}

h2, h3, h4, button, a {
    font-family: $main-font, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #222;
}

button, input[type="submit"] {
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0.7em;
    border-radius: 5px;
    background: #575A89;
    border: none;
    color: white;
    text-transform: capitalize;
    transition: transform 0.2s ease;

    &:hover {
        cursor: pointer;
        transform: scale(0.98);
    }
}