@use "utilities";
@use "header";
@use "index";
@use "blog";
@use "articlePage";
@use "footer";
@use "mediaQueries";

/* MEDIA QUERIES */

// @media (max-width: 1000px){

    /* INDEX PAGE */


    // .articles {
    //     flex-direction: column;
    //     align-items: center;
    // }

    // .articles article{
    //     width: 80%;
    //     min-width: 200px;
    //     max-width: 500px;
    //     height: auto;
    //     margin-top: 30px;
    // }

    // .articles article img {
    //     max-width: 300px;
    // }

    // .articles article p {
    //     max-width: 300px;
    // }

    // .employees {
    //     flex-direction: column;
    //     align-items: center;
    //     width: 100%;
    // }

    // .employees article{
    //     width: 80%;
    //     min-width: 200px;
    //     max-width: 500px;
    //     height: auto;
    //     margin-top: 60px;
    // }

    // .employees article p {
    //     max-width: 300px;
    // }

    /* BLOG PAGE */

    // .our-blog-section article {
    //     flex-direction: column;
    //     width: 80%;
    // }

    // .our-blog-section article img{
    //     width: 60%;
    //     height: 200px;
    // }

    // .blog-article-preview-content h4 {
    //     text-align: center;
    //     margin-top: 20px;
    // }

    // .blog-article-preview-content p {
    //     text-align: justify;
    //     margin-top: 20px;
    //     line-height: 25px;
    // }

    /* ARTICLE PAGE */

//     .article-main h2::before {
//         display: none;
//     }

//     .article-main h2::after {
//         display: none;
//     }
// }

@media (max-width: 600px){
    header {
        flex-direction: column;
    }

    /* INDEX PAGE */

    .articles article {
        width: 100%;
    }

    .employees article {
        width: 100%;
    }

    .newsletter-container {
        max-width: 90%;
    }

    #newsletter form input[type="submit"] {
        font-size: 15px;
    }

    /* BLOG PAGE */
    .content-container {
        flex-direction: column-reverse;
    }

    .blog-main {
        width: 100%;
    }

    .our-blog-section article{
        width: 100%;
    }

    aside {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
    }

    aside h5 {
        background: none;
        color: black;
        font-size: 15px;
        padding: 0;
    }

    aside ul {
        display: flex;
        align-items: center;
        border: none;
        margin: 0;
        justify-content: space-between;
        width: 60%;
        min-width: 250px;
    }

    aside ul li:hover {
        background: none;
        padding-left: 0;
        transform: scale(1.1);
    }

    aside ul li:hover a {
        color:#222;
    }

    /* ARTICLE */

    .article-main h2 {
        width: 80%;
    }

    .article-main img {
        width: 100%;
        height: auto;
    }

    .article-main p {
        width: 90%;
    }

}