@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Teko:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h2, h3, h4, button, a {
  font-family: "Alumni Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

button, input[type=submit] {
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  border-radius: 5px;
  background: #575A89;
  border: none;
  color: white;
  text-transform: capitalize;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h2, h3, h4, button, a {
  font-family: "Alumni Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

button, input[type=submit] {
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  border-radius: 5px;
  background: #575A89;
  border: none;
  color: white;
  text-transform: capitalize;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
  background: linear-gradient(-45deg, #575A89, #CC74AB);
}
.header * {
  color: white;
}
.header__logo {
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
.header__nav {
  width: 30rem;
}
.header__nav__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__nav__list__item {
  font-size: 3rem;
}
.header__nav__list__item:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h2, h3, h4, button, a {
  font-family: "Alumni Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

button, input[type=submit] {
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  border-radius: 5px;
  background: #575A89;
  border: none;
  color: white;
  text-transform: capitalize;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s ease;
}

.hero {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hero__article {
  padding: 8em 2em 3em 2em;
  width: 40%;
}
.hero__article__header {
  font-size: 6rem;
  text-transform: capitalize;
}
.hero__article__text {
  margin-top: 1rem;
  font-size: 1.8rem;
  line-height: 3rem;
}
.hero__article__btn {
  margin-top: 1.7rem;
  font-size: 2.3rem;
}
.hero__image {
  width: 40%;
  position: relative;
  top: 9rem;
}

.read-more {
  margin-top: 8rem;
  padding: 6em 0;
  background: linear-gradient(-135deg, #575A89, #CC74AB);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.read-more__header {
  text-transform: uppercase;
  font-size: 7rem;
  text-align: center;
  color: white;
}
.read-more__articles-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 4rem;
  max-width: 150rem;
}
.read-more__articles-container__article {
  background: white;
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
  min-height: 50rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0.5rem #575A89;
  margin: 1.5rem;
}
.read-more__articles-container__article__image {
  width: 85%;
  border-radius: 5px;
}
.read-more__articles-container__article__header {
  margin-top: 2rem;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.2rem;
  min-height: 12rem;
  display: flex;
  align-items: center;
}
.read-more__articles-container__article__text {
  margin-top: 20px;
  overflow: hidden;
  text-align: justify;
  font-size: 1.6rem;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 2rem;
}
.read-more__articles-container__article__btn {
  margin-top: 3rem;
  font-size: 2rem;
}

.our-team {
  width: 100%;
  padding: 6em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-team__header {
  text-transform: uppercase;
  font-size: 7rem;
  text-align: center;
}
.our-team .employees-container {
  display: flex;
  margin-top: 8rem;
  max-width: 120rem;
  justify-content: space-between;
}
.our-team .employees-container__employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  border: 3px solid #575A89;
  padding: 0 2em 3em 2em;
  border-radius: 20px;
}
.our-team .employees-container__employee__image {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
  position: relative;
  bottom: 5rem;
  border: 5px solid #afafaf;
}
.our-team .employees-container__employee__name {
  font-size: 3rem;
  margin-top: -3rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.our-team .employees-container__employee__position {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.15rem;
}
.our-team .employees-container__employee__description {
  margin-top: 2rem;
  width: 70%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
}
.our-team .employees-container__employee__btn {
  margin-top: 3rem;
  font-size: 2rem;
}

.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(-135deg, #575A89, #CC74AB);
}
.newsletter__container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  border-radius: 20px;
}
.newsletter__container__header {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.newsletter__container__cta {
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-align: center;
}
.newsletter__container__form {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.newsletter__container__form label {
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  line-height: 2.3rem;
}
.newsletter__container__form input {
  font-size: 1.6rem;
  padding-left: 1em;
}
.newsletter__container__form input[type=text], .newsletter__container__form input[type=email] {
  height: 3rem;
}
.newsletter__container__form input[type=checkbox] {
  transform: scale(1.2);
  margin-right: 0.8rem;
}
.newsletter__container__form input[type=submit] {
  margin-top: 3rem;
  font-size: 1.8rem;
  width: 80%;
  align-self: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.newsletter__container__form select {
  height: 3rem;
  font-size: 1.6rem;
  padding-left: 0.5em;
}
.newsletter__container__form .checkbox {
  margin-top: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h2, h3, h4, button, a {
  font-family: "Alumni Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

button, input[type=submit] {
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  border-radius: 5px;
  background: #575A89;
  border: none;
  color: white;
  text-transform: capitalize;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s ease;
}

.content-container {
  display: flex;
  justify-content: space-between;
}
.content-container .blog-main {
  width: 85%;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
  min-height: 84vH;
}
.content-container .blog-main__header {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: #575A89;
  padding: 0.2em 0.4em;
  color: white;
  border-radius: 10px;
}
.content-container .blog-main .our-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.content-container .blog-main .our-blog__header {
  font-size: 3rem;
  text-transform: capitalize;
}
.content-container .blog-main .our-blog__article {
  padding: 2em 2em;
  width: 80%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.content-container .blog-main .our-blog__article__image {
  width: 25rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
  margin-top: 0.8rem;
}
.content-container .blog-main .our-blog__article__preview-content {
  margin-left: 2rem;
  width: 60%;
}
.content-container .blog-main .our-blog__article__preview-content__header {
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
}
.content-container .blog-main .our-blog__article__preview-content__header a {
  color: #575A89;
}
.content-container .blog-main .our-blog__article__preview-content__text {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.categories {
  width: 200px;
  min-width: 150px;
  background: #EEEDFF;
  padding-top: 40px;
  padding-left: 20px;
}
.categories__header {
  text-transform: uppercase;
  font-size: 18px;
  background: white;
  padding-top: 5px;
  padding-left: 5px;
  background: #8B8CBF;
  color: white;
}
.categories__list {
  border-left: 3px solid #8B8CBF;
  padding-left: 10px;
  margin-top: 20px;
}
.categories__list__item {
  font-size: 24px;
}
.categories__list__item:hover {
  background: #8B8CBF;
  color: white;
  padding-left: 10px;
}
.categories__list__item:hover a {
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h2, h3, h4, button, a {
  font-family: "Alumni Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

button, input[type=submit] {
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.7em;
  border-radius: 5px;
  background: #575A89;
  border: none;
  color: white;
  text-transform: capitalize;
}
button:hover, input[type=submit]:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s ease;
}

.article-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}
.article-main__header {
  font-size: 5rem;
  text-transform: capitalize;
  width: 50%;
  text-align: center;
}
.article-main__header::before {
  content: "";
  width: 20rem;
  height: 20rem;
  display: block;
  position: absolute;
  right: 20rem;
  bottom: -40rem;
  background: linear-gradient(90deg, #575a8977, #cc74aa7a);
  border-radius: 100%;
  z-index: -1;
}
.article-main__header::after {
  content: "";
  width: 10rem;
  height: 10rem;
  display: block;
  position: absolute;
  left: 10%;
  top: 22rem;
  background: linear-gradient(-90deg, #575a8975, #cc74aa77);
  border-radius: 100%;
  z-index: -1;
}
.article-main__image {
  margin-top: 4rem;
  margin-bottom: 3rem;
  position: relative;
}
.article-main p {
  width: 60%;
  margin-top: 1rem;
  text-align: justify;
  line-height: 2.5rem;
  text-indent: 5rem;
  font-size: 1.6rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 4em;
  background: #222;
}
.footer * {
  color: white;
}
.footer__copyright {
  font-size: 1.5rem;
}
.footer__nav__list {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: space-between;
}
.footer__nav__list .nav-item__link__icon {
  font-size: 1.7rem;
}
.footer__nav__list .nav-item__link__icon:hover {
  color: #CC74AB;
  transition: 0.3s ease;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  /* INDEX PAGE */
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .article-preview-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-preview-text h2 {
    text-align: center;
  }

  .article-preview-text p {
    text-align: justify;
    margin-top: 30px;
  }

  .article-preview-text button {
    margin-top: 30px;
  }

  .hero img {
    position: initial;
    width: 80%;
  }

  .articles {
    flex-direction: column;
    align-items: center;
  }

  .articles article {
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    margin-top: 30px;
  }

  .articles article img {
    max-width: 300px;
  }

  .articles article p {
    max-width: 300px;
  }

  .employees {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .employees article {
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    margin-top: 60px;
  }

  .employees article p {
    max-width: 300px;
  }

  /* BLOG PAGE */
  .our-blog-section article {
    flex-direction: column;
    width: 80%;
  }

  .our-blog-section article img {
    width: 60%;
    height: 200px;
  }

  .blog-article-preview-content h4 {
    text-align: center;
    margin-top: 20px;
  }

  .blog-article-preview-content p {
    text-align: justify;
    margin-top: 20px;
    line-height: 25px;
  }

  /* ARTICLE PAGE */
  .article-main h2::before {
    display: none;
  }

  .article-main h2::after {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }

  /* INDEX PAGE */
  .articles article {
    width: 100%;
  }

  .employees article {
    width: 100%;
  }

  .newsletter-container {
    max-width: 90%;
  }

  #newsletter form input[type=submit] {
    font-size: 15px;
  }

  /* BLOG PAGE */
  .content-container {
    flex-direction: column-reverse;
  }

  .blog-main {
    width: 100%;
  }

  .our-blog-section article {
    width: 100%;
  }

  aside {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
  }

  aside h5 {
    background: none;
    color: black;
    font-size: 15px;
    padding: 0;
  }

  aside ul {
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    justify-content: space-between;
    width: 60%;
    min-width: 250px;
  }

  aside ul li:hover {
    background: none;
    padding-left: 0;
    transform: scale(1.1);
  }

  aside ul li:hover a {
    color: #222;
  }

  /* ARTICLE */
  .article-main h2 {
    width: 80%;
  }

  .article-main img {
    width: 100%;
    height: auto;
  }

  .article-main p {
    width: 90%;
  }
}/*# sourceMappingURL=style2.css.map */